@model IEnumerable<MVC_Lab_4_Ajax.Models.Grade>

<p>
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GradeValue)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GradeValue)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }
    @Ajax.ActionLink(
            linkText: "Add Grade",
            actionName: "_Create",
            ajaxOptions: new AjaxOptions()
            {
                UpdateTargetId = "GradesHolder",
                InsertionMode = InsertionMode.Replace
            })

</table>
